
.container{
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    image-rendering: auto;
}
p{
    font-weight: bold;
    margin: 5px;

}

.first-image{
    border: 2px solid black;
    overflow: hidden;
    height: 230px;
    width: 80%;
    margin: 20px auto;
}

.second-image{
    border: 2px solid black;
    height: 260px;
    width: 80%;
    margin: 20px auto;
}

.second-image img{
        height: 230px;
        object-fit: cover;
        object-position: bottom;
}

.third-image{
    width: 80%;
    margin: 20px auto;
}

.third-image img {
    height: 300px;
    width: 500px;
    margin: auto 250px;
}